body {
	margin: 0;
	padding: 0;
	background: #fff;

	&::-webkit-scrollbar {
		width: 10px;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: #212121;
		border-radius: 5px;
	}

	&:hover::-webkit-scrollbar-thumb {
		background: #616060;
	}
}

.slick-next:before,
.slick-prev:before {
	color: #000 !important;
}

.grecaptcha-badge {
	visibility: hidden;
}

.subscribeInput {
	background: transparent;
	color: white !important;
	border-color: white !important;
	margin-right: 30px;
	&:hover {
		background-color: rgba(22, 22, 22, 0.5) !important;
	}
}

.formContainer {
	width: 100%;
	max-width: 100%;
	@media screen and (min-width: 768px) {
		max-width: 80%;
		width: 80%;
	}
	@media screen and (min-width: 1024px) {
		max-width: 60%;
		width: 60%;
	}
}

.svgDialog {
	margin-top: -10px;
}
